#clicking-area {
	background-color: blue;
	position: absolute;
	margin: 0;
	left: 0;
	width: 70%;
	height: 100%;
}

#viewport {
	margin-bottom: -6px;
}

#upgrades {
	background-color: red;
	position: absolute;
	margin: 0;
	right: 0;
	width: 30%;
	height: 100%;
	overflow: scroll;
}

body {
	margin: 0;
}

#obiwan {
	position: absolute;
	cursor: pointer;
}

h1 {
	color: yellow;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2.5em;
}

.upgrade {
	height: 6em;
	border: 0.5em solid gray;
	background-color: brown;
	cursor: pointer;
	position: relative;
}

.upgrade-name {
	position: absolute;
	font-weight: bold;
	font-size: 1.8em;
	top: 0.9em;
	left: 1em;
}

.upgrade-cost {
	position: absolute;
	font-style: italic;
	font-size: 1.2em;
	top: 3.2em;
	left: 1.5em;
}

.upgrade-amount {
	position: absolute;
	font-weight: bold;
	font-size: 4em;
	top: 0.25em;
	right: 0.6em;
}

#popup {
	position: absolute;
	width: 25%;
	height: 5em;
	background-color: yellow;
	border: 0.3em solid purple;
	right: 30%;
	display: none;
}

#popup-text {
	margin: 1em;
}

#popup-earn {
	position: absolute;
	font-size: 0.8em;
	bottom: 3px;
	right: 3px;
}

#welcome-popup {
	width: 700px;
	background-color: green;
	color: red;
	position: absolute;
	border-radius: 20px;
	display: none;
}

#welcome-popup h1 {
	margin: auto;
	padding: 100px;
}

h2 {
	font-weight: bold;
	font-size: 1em;
	font-style: italic;
	text-align: center;
	margin-top: -20px;
}

#reset-button {
	position: absolute;
	right: 30px;
	bottom: 30px;
	background-color: red;
	border: 2px solid maroon;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
}