#eaemen {
  position:fixed;
}

.no-text-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
}
#collapse-all-container {
  display: none;
}

#profiles-dropdown {
  margin: 4px 8px;
}

#faq {
  padding: 0 100px;
}

#faq-title {
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
}

.faq-item {
  padding: 20px 20px 0 20px;
  margin: 0;
}

#expand-all {
  cursor: pointer;
  float: right;
  margin-top: -50px;
}

.in_progress,
.done {
  color: #C60;
  border: 1px solid;
  border-radius: 3px;
  padding: .1em 0.4em;
  font-weight: normal;
  margin-left: .2em;
  vertical-align: middle;
  font-size: 0.9em;
}
.done { color: #009933; }

.navbar-right {
  float: right;
}

#options {
  color: #000;
  padding: 11px;
  font-size: 25px;
  cursor: pointer;
}

#options-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1px;
  border-radius: 4px;
  width: 300px;
  top: 51px;
  z-index: 10;
  display: none;
}

#current-profile {
  font-size: 21px;
  font-weight: bold;
  padding-left: 30px;
  margin: 0;
}

.options-item {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  border-bottom: 1px solid #e7e7e7;
}

#options-dropdown>div:hover,
#options-dropdown>label:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

#options-triangle {
  display: none;
}

#toggle-hide-completed {
  display: block;
}

#toggle-hide-completed-checkbox {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

#options-triangle::before,
#options-triangle::after {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    border-style: solid;
}

#options-triangle::before {
    top: 28px;
    left: 12px;
    border-color: transparent transparent #ccc transparent;
    border-width: 11px;
    border-bottom-width: 13px;
}

#options-triangle::after {
    top: 30px;
    left: 13px;
    border-color: transparent transparent white transparent;
    border-width: 10px;
    border-bottom-width: 12px;
}

.options-text {
  padding-left: 10px;
  bottom: 5px;
  position: relative;
  font-weight: bold;
  font-size: 15px;
}

.options-item>.glyphicon {
  font-size: 25px;
}

.options-item>.theme-glyph {
  font-size: 20px;
  position: relative;
  left: 8px;
}

.options-item>.profile-glyph {
  font-size: 20px;
  position: relative;
  left: 8px;
}

#themes-active {
  display: none;
}

#profile-active {
  display: none;
}

.hidden-options {
  display: none;
  padding: 8px;
}

#options-dropdown>.hidden-options:hover {
  background-color: #fff;
  cursor: default;
}

.options-button {
  display: inline-block;
  width: 122px;
  margin: 4px 8px 4px 8px;
}

.options-item:last-child {
  border: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: default;
}

@media (min-width: 768px) {
  .navbar-default>.container-fluid {
    width: 750px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .navbar-default>.container-fluid {
    width: 970px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .navbar-default>.container-fluid {
    width: 1170px;
    margin: auto;
  }
}

.dropdown-menu>li>span[role="menuitem"] {
  width: 360px;
  white-space: normal;
}

.filters {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 0px;
  float: right;
  z-index: 100;
}

@media print {
    body { color: #000; }
    .navbar, #intro, input[type="checkbox"], .done, .in_progress { display: none; }
    a { color: #000; text-decoration: underline; }
    a[href]:after { content: none !important; }
    .tab-content > .tab-pane, .pill-content > .pill-pane { display: block; }
    .tab-pane { page-break-after: always; }
}

ul {
  list-style-type: none;
	padding-left: 22px;
}
ul li ul {
  padding-top: 0;
}
h3 {
  margin-bottom: 0;
}
.checkbox label,
.radio label {
  padding-left: 24px;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-left: -24px;
}

.table_of_contents {
  margin-left: 0;
  padding: 0 15px;
  line-height: 1.8;
}

.highlight {
    background-color: rgb(255, 246, 18);
}

.hiddenfile {
 width: 0px;
 height: 0px;
 overflow: hidden;
}

.back-to-top {
	position: fixed;
	bottom: 2em;
	right: 0px;
	text-decoration: none;
	color: #000000;
	background-color: rgba(235, 235, 235, 0.80);
	font-size: 12px;
	padding: 1em;
	display: none;
  /* The "Paper" bootstrap theme modifies the transition properties;
  reset them to the default value to prevent ruining the fadeIn() */
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

.back-to-top:hover{
	background-color: rgba(135, 135, 135, 0.50);
}

.btn-collapse {
  padding: 4px 10px 1px;
  margin-right: 10px;
  vertical-align: top;
}

.btn:focus, .btn.active:focus {
    outline: none;
    outline: 0;
}

.btn.filter-inactive .glyphicon-eye-close {
display: inline-block;
}
.btn.filter-inactive .glyphicon-eye-close {
display: none;
}
.btn.filter-active .glyphicon-eye-open {
display: inline-block;
}
.btn.filter-active .glyphicon-eye-open {
display: none;
}

/* Icon when the collapsible content is shown */
.btn-collapse:after {
  font-family: 'Glyphicons Halflings';
  content:"\e082";
}
/* Icon when the collapsible content is hidden */
.btn-collapse.collapsed:after {
  content:"\e081";
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

body.hide_completed .completed_item {
  display: none !important;
}

body.hide_completed .completed {
  display: none !important;
}



input[type="checkbox"]:checked + .item_content {
  text-decoration: line-through;
}

input[type="checkbox"] ~ .glyphicon-eye-close { display:none; }

input[type="checkbox"]:checked ~ .glyphicon-eye-close { display: inline-block; }

input[type="checkbox"] ~ .glyphicon-eye-open { display: inline-block; }

input[type="checkbox"]:checked ~ .glyphicon-eye-open { display: none; }
